@page
@using TimetableSystem.Models
@using Newtonsoft.Json
@model TimetableSystem.Pages.admin.AddManuallyModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    string Msg = ViewData["Msg"] as string;
    List<Timetable> listTimetableDisplay = ViewData["listTimetableDisplay"] as List<Timetable>;
}

<h1>Add timetable</h1>

<h4></h4>
<hr />

<div class="row">
    <div>
        <form method="post" asp-page-handler="AddToWishList">
            <input type="hidden" name="listTimetableDisplayJson" value="@JsonConvert.SerializeObject(listTimetableDisplay)" />
            <select name="Classid">
                @foreach (Class c in Model.Classes)
                {
                    <option value="@c.Id" selected="@(c.Id == Model.Classid)">@c.Name</option>
                }
            </select>

            <select name="Courseid">
                @foreach (Course c in Model.Courses)
                {
                    <option value="@c.Id" selected="@(c.Id == Model.Courseid)">@c.Code</option>
                }
            </select>

            <select name="Roomid">
                @foreach (Room r in Model.Rooms)
                {
                    <option value="@r.Id" selected="@(r.Id == Model.Roomid)">@r.Name</option>
                }
            </select>

            <select name="Teacherid">
                @foreach (User u in Model.Teachers)
                {
                    <option value="@u.Id" selected="@(u.Id == Model.Teacherid)">@u.Username</option>
                }
            </select>

            <select name="Timeslottypeid">
                @foreach (TimeslotType tst in Model.Timeslottypes)
                {
                    <option value="@tst.Id" selected="@(tst.Id == Model.Timeslottypeid)">@tst.Name</option>
                }
            </select>

            <input type="submit" value="Add to wish list">
        </form>
    </div>
</div>

@if (Msg != null)
{
    <p style="color: red">@Msg</p>
}


@if (listTimetableDisplay != null && listTimetableDisplay.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Class</th>
                <th>Course</th>
                <th>Room</th>
                <th>Teacher</th>
                <th>Timeslot Type</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            @{
                int stt = 1;
            }
            @foreach (var timetable in listTimetableDisplay)
            {
                <tr>
                    <td>@stt</td>
                    <td>@timetable.Class.Name</td>
                    <td>@timetable.Course.Code</td>
                    <td>@timetable.Room.Name</td>
                    <td>@timetable.Teacher.Username</td>
                    <td>@timetable.TimeslotType.Name</td>
                    <td style="color : red">@timetable.Note</td>
                </tr>
                stt++;
            }
        </tbody>

    </table>

    <form method="post" asp-page-handler="Save">
        <input type="hidden" name="listTimetableDisplayJson" value="@JsonConvert.SerializeObject(listTimetableDisplay)" />
        <input type="submit" value="Ignore invalid data and save">
    </form>

}

<div>
    <a href="/admin/list">Back to List</a>
</div>
