@page
@model TimetableSystem.Pages.admin.EditModel
@using TimetableSystem.Models

@{

}



<h1>Edit timetable</h1>

<h4></h4>
<hr />
<h5>Edit for:  @Model.oldTimetable.Class.Name - @Model.oldTimetable.Course.Code - @Model.oldTimetable.Room.Name - @Model.oldTimetable.Teacher.Username - @Model.oldTimetable.TimeslotType.Name</h5>

@if (Model.expectedTt != null)
{
    <h5>Expected: @Model.expectedTt.Class.Name - @Model.expectedTt.Course.Code - @Model.expectedTt.Room.Name - @Model.expectedTt.Teacher.Username - @Model.expectedTt.TimeslotType.Name</h5>
}
else
{
   <h5>Expected: </h5> 
}
<div class="row">
    <div >
        <form method="post" asp-page-handler="Edit">
            <input type="hidden" name="timetableid" value="@Model.oldTimetable.Id" />
            <select name="Classid">
                @foreach (Class c in Model.Classes)
                {
                    <option value="@c.Id" selected="@(c.Id == Model.Classid)">@c.Name</option>
                }
            </select>

            <select name="Courseid">
                @foreach (Course c in Model.Courses)
                {
                    <option value="@c.Id" selected="@(c.Id == Model.Courseid)">@c.Code</option>
                }
            </select>

            <select name="Roomid">
                @foreach (Room r in Model.Rooms)
                {
                    <option value="@r.Id" selected="@(r.Id == Model.Roomid)">@r.Name</option>
                }
            </select>

            <select name="Teacherid">
                @foreach (User u in Model.Teachers)
                {
                    <option value="@u.Id" selected="@(u.Id == Model.Teacherid)">@u.Username</option>
                }
            </select>

            <select name="Timeslottypeid">
                @foreach (TimeslotType tst in Model.Timeslottypes)
                {
                    <option value="@tst.Id" selected="@(tst.Id == Model.Timeslottypeid)">@tst.Name</option>
                }
            </select>
            @if (Model.expectedTt != null)
            {
                @if (!Model.expectedTt.Note.Equals("Edit success"))
                {
                    <input type="submit" value="Edit">
                }
                else
                {
                    <input type="submit" value="Edit" disabled>
                }
                <p style="color: red">@Model.expectedTt.Note</p>
            }
            else
            {
                <input type="submit" value="Edit">
            }
        </form>
    </div>

</div>

<div>
    <a href="/timetable">Back to List</a>
</div>
