@page
@using Newtonsoft.Json
@using TimetableSystem.Models
@model TimetableSystem.Pages.admin.ImportModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    string Msg = ViewData["Msg"] as string;
}


<h1>Time table</h1>

<form method="post" asp-page-handler="ImportFile" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Import">
</form>
@if (Msg != null)
{
    <p id="messageContainer" style="color: red">@Msg</p>
}

@if (Model.listTimetableDisplay != null && Model.listTimetableDisplay.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Class</th>
                <th>Course</th>
                <th>Room</th>
                <th>Teacher</th>
                <th>Timeslot Type</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            @{
                int stt = 1;
            }
            @foreach (var timetable in Model.listTimetableDisplay)
            {
                <tr>
                    <td>@stt</td>
                    <td>@timetable.Class.Name</td>
                    <td>@timetable.Course.Code</td>
                    <td>@timetable.Room.Name</td>
                    <td>@timetable.Teacher.Username</td>
                    <td>@timetable.TimeslotType.Name</td>
                    <td style="color : red">@timetable.Note</td>
                </tr>
                stt++;
            }
        </tbody>

    </table>

    <form method="post" asp-page-handler="Save">
         <input type="hidden" name="listTimetableDisplay" value="@JsonConvert.SerializeObject(Model.listTimetableDisplay)" />
         <input type="submit" value="Ignore invalid data and save">
    </form>

}

<script>
    setTimeout(function () {
        var msgElement = document.getElementById('messageContainer');
        msgElement.textContent = ' ';
    }, 2500);
</script>