@page
@using TimetableSystem.Models
@model TimetableSystem.Pages.timetable.AddManuallyModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Timetable expectedTT = ViewData["expectedTT"] as Timetable;

    List<Timetable> listTimetable = ViewData["listTimetable"] as List<Timetable>;
    List<Room> listRoom = ViewData["listRoom"] as List<Room>;
    List<User> listTeacher = ViewData["listTeacher"] as List<User>;
    List<Course> listCourse = ViewData["listCourse"] as List<Course>;
    List<TimeslotType> listTimeslotType = ViewData["listTimeslotType"] as List<TimeslotType>;
    List<Class> listClass = ViewData["listClass"] as List<Class>;
}



<h1>Add timetable</h1>

<h4></h4>
<hr />

@if (expectedTT != null)
{
    <h5>Expected: @expectedTT.Class.Name - @expectedTT.Course.Code - @expectedTT.Room.Name - @expectedTT.Teacher.Username - @expectedTT.TimeslotType.Name</h5>
}
else
{
    <h5>Expected: </h5>
}
<div class="row">
    <div>
        <form method="post" onsubmit="saveSelectedValues()" asp-page-handler="Add">
            <select name="classidadd">
                @foreach (Class c in listClass)
                {
                    <option value="@c.Id">@c.Name</option>
                }
            </select>

            <select name="courseidadd">
                @foreach (Course c in listCourse)
                {
                    <option value="@c.Id">@c.Code</option>
                }
            </select>

            <select name="roomidadd">
                @foreach (Room r in listRoom)
                {
                    <option value="@r.Id">@r.Name</option>
                }
            </select>

            <select name="teacheridadd">
                @foreach (User u in listTeacher)
                {
                    <option value="@u.Id">@u.Username</option>
                }
            </select>

            <select name="timeslottypeidadd">
                @foreach (TimeslotType tst in listTimeslotType)
                {
                    <option value="@tst.Id">@tst.Name</option>
                }
            </select>


            <input type="submit" value="Add">
        </form>
    </div>
    @if (expectedTT != null)
    {
        <p style="color: red">@expectedTT.Note</p>
    }
</div>

<div>
    <a href="/timetable">Back to List</a>
</div>

<script>
    // Hàm này sẽ được gọi khi form được submit
    function saveSelectedValues() {
        var selectedValues = {};

        // Lưu giá trị đã chọn của mỗi select box vào object selectedValues
        selectedValues['classidadd'] = document.querySelector('select[name="classidadd"]').value;
        selectedValues['courseidadd'] = document.querySelector('select[name="courseidadd"]').value;
        selectedValues['roomidadd'] = document.querySelector('select[name="roomidadd"]').value;
        selectedValues['teacheridadd'] = document.querySelector('select[name="teacheridadd"]').value;
        selectedValues['timeslottypeidadd'] = document.querySelector('select[name="timeslottypeidadd"]').value;

        // Lưu object selectedValues vào localStorage
        localStorage.setItem('selectedValuesadd', JSON.stringify(selectedValues));
    }

    // Hàm này sẽ được gọi khi trang được load
    window.onload = function () {
        // Lấy các giá trị đã lưu từ localStorage
        var savedValues = JSON.parse(localStorage.getItem('selectedValuesadd'));

        // Nếu đã có giá trị được lưu trước đó
        if (savedValues) {
            // Khôi phục các giá trị đã chọn cho các select box
            document.querySelector('select[name="classidadd"]').value = savedValues['classidadd'];
            document.querySelector('select[name="courseidadd"]').value = savedValues['courseidadd'];
            document.querySelector('select[name="roomidadd"]').value = savedValues['roomidadd'];
            document.querySelector('select[name="teacheridadd"]').value = savedValues['teacheridadd'];
            document.querySelector('select[name="timeslottypeidadd"]').value = savedValues['timeslottypeidadd'];
        }
    }
</script>