@page
@model TimetableSystem.Pages.timetable.EditModel
@using TimetableSystem.Models

@{
    Timetable tt = ViewData["timetable"] as Timetable;
    Timetable expectedTT = ViewData["expectedTT"] as Timetable;

    List<Timetable> listTimetable = ViewData["listTimetable"] as List<Timetable>;
    List<Room> listRoom = ViewData["listRoom"] as List<Room>;
    List<User> listTeacher = ViewData["listTeacher"] as List<User>;
    List<Course> listCourse = ViewData["listCourse"] as List<Course>;
    List<TimeslotType> listTimeslotType = ViewData["listTimeslotType"] as List<TimeslotType>;
    List<Class> listClass = ViewData["listClass"] as List<Class>;
}



<h1>Edit timetable</h1>

<h4></h4>
<hr />
<h5>Edit for:  @tt.Class.Name - @tt.Course.Code - @tt.Room.Name - @tt.Teacher.Username - @tt.TimeslotType.Name</h5>

@if(expectedTT != null)
{
    <h5>Expected: @expectedTT.Class.Name - @expectedTT.Course.Code - @expectedTT.Room.Name - @expectedTT.Teacher.Username - @expectedTT.TimeslotType.Name</h5>
}
else
{
   <h5>Expected: </h5> 
}
<div class="row">
    <div >

        <form method="post" onsubmit="saveSelectedValues()" asp-page-handler="Edit">
            <input type="hidden" name="timetableid" value="@tt.Id" />
            <select name="classidedit">
                @foreach (Class c in listClass)
                {
                    <option value="@c.Id" >@c.Name</option>
                }
            </select>

            <select name="courseidedit">
                @foreach (Course c in listCourse)
                {
                    <option value="@c.Id" >@c.Code</option>
                }
            </select>

            <select name="roomidedit">
                @foreach (Room r in listRoom)
                {
                    <option value="@r.Id" >@r.Name</option>
                }
            </select>

            <select name="teacheridedit">
                @foreach (User u in listTeacher)
                {
                    <option value="@u.Id" >@u.Username</option>
                }
            </select>

            <select name="timeslottypeidedit">
                @foreach (TimeslotType tst in listTimeslotType)
                {
                    <option value="@tst.Id" >@tst.Name</option>
                }
            </select>


            <input type="submit" value="Edit">
        </form>
    </div>
    @if (expectedTT != null)
    {
        <p style="color: red">@expectedTT.Note</p>
    }
</div>

<div>
    <a href="/timetable">Back to List</a>
</div>

<script>
    // Hàm này sẽ được gọi khi form được submit
    function saveSelectedValues() {
        var selectedValues = {};

        // Lưu giá trị đã chọn của mỗi select box vào object selectedValues
        selectedValues['classidedit'] = document.querySelector('select[name="classidedit"]').value;
        selectedValues['courseidedit'] = document.querySelector('select[name="courseidedit"]').value;
        selectedValues['roomidedit'] = document.querySelector('select[name="roomidedit"]').value;
        selectedValues['teacheridedit'] = document.querySelector('select[name="teacheridedit"]').value;
        selectedValues['timeslottypeidedit'] = document.querySelector('select[name="timeslottypeidedit"]').value;

        // Lưu object selectedValues vào localStorage
        localStorage.setItem('selectedValuesedit', JSON.stringify(selectedValues));
    }

    // Hàm này sẽ được gọi khi trang được load
    window.onload = function () {
        // Lấy các giá trị đã lưu từ localStorage
        var savedValues = JSON.parse(localStorage.getItem('selectedValuesedit'));

        // Nếu đã có giá trị được lưu trước đó
        if (savedValues) {
            // Khôi phục các giá trị đã chọn cho các select box
            document.querySelector('select[name="classidedit"]').value = savedValues['classidedit'];
            document.querySelector('select[name="courseidedit"]').value = savedValues['courseidedit'];
            document.querySelector('select[name="roomidedit"]').value = savedValues['roomidedit'];
            document.querySelector('select[name="teacheridedit"]').value = savedValues['teacheridedit'];
            document.querySelector('select[name="timeslottypeidedit"]').value = savedValues['timeslottypeidedit'];
        }
    }
</script>