@page
@using TimetableSystem.Models
@model TimetableSystem.Pages.timetable.ImportModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    List<Timetable> listTimetable = ViewData["listTimetable"] as List<Timetable>;
}


<h1>Time table</h1>

<form method="post" asp-page-handler="ImportFile" enctype="multipart/form-data">
    <input type="file" name="file" >
    <input type="submit" value="Import">
</form>

@if (ViewData["listTimetable"] != null)
{
    <h2> Timetable Data:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Room</th>
                <th>Course</th>
                <th>Class</th>
                <th>Teacher</th>
                <th>Timeslot Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var timetable in listTimetable)
            {
                <tr>
                    <td>@timetable.RoomId</td>
                    <td>@timetable.CourseId</td>
                    <td>@timetable.ClassId</td>
                    <td>@timetable.TeacherId</td>
                    <td>@timetable.TimeslotTypeId</td>
                </tr>
            }
        </tbody>
    </table>
}

