@page
@using TimetableSystem.Models
@model TimetableSystem.Pages.timetable.ImportModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    List<Timetable> listTimetable = ViewData["listTimetable"] as List<Timetable>;
    string msg = ViewData["msg"] as string;
}


<h1>Time table</h1>

<form method="post" asp-page-handler="ImportFile" enctype="multipart/form-data">
    <input type="file" name="file" >
    <input type="submit" value="Import">
</form>

@if (ViewData["listTimetable"] != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Room</th>
                <th>Class</th>
                <th>Course</th>
                <th>Teacher</th>
                <th>Timeslot Type</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            @{
                int stt = 1;
            }
            @foreach (var timetable in listTimetable)
            {
                <tr>
                    <td>@stt</td>   
                    <td>@timetable.Room.Name</td>
                    <td>@timetable.Class.Name</td>
                    <td>@timetable.Course.Code</td>
                    <td>@timetable.Teacher.Username</td>
                    <td>@timetable.TimeslotType.Name</td>
                    <td>@timetable.Note</td>
                </tr>
                stt++;
            }
        </tbody>
    </table>
}
